@using DAL.Data
@model HamburgerViewModel
@{
    ViewData["Title"] = "DrinkList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<br />
<div>
    <p>@Model.Name</p>

</div>

<div>
    @*     <h3>Drink</h3>
    <p>Name: @Model.Name</p>
    <p>Name: @Model.DrinkViewModel?.Name</p>
    <p>Description: @Model.DrinkViewModel?.Price</p> *@
</div>

<div>

    @* <p>Total Price: @Model.HamburgerViewModel.Price + @Model.DrinkViewModel?.Price</p> *@

</div>


<form asp-action="AddHamburgerToOrder" method="POST" style="display:inline">

    <input type="hidden" name="Name" value="@Model.Name" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Description" value="@Model.Description" />
    <input type="hidden" name="Price" value="@Model.Price" />
    <input type="hidden" name="PhotoUrl" value="@Model.PhotoUrl" />

    <button type="submit" class="btn btn-outline-primary btn-sm me-2">
        Onayla


    </button>

</form>