<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">

            <a href="../index.html" class="logo">
                <img src="/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item"><a href="@Url.Action("MenuList", "Menu")"><i class="fas fa-desktop"></i><p>Menu</p></a></li>
                <li class="nav-item"><a href="@Url.Action("ListHamburgers", "Hamburger")"><i class="fas fa-hamburger"></i><p>Hamburger</p></a></li>
                <li class="nav-item"><a href="@Url.Action("DrinkList", "Drink")"><i class="fas fa-glass-water"></i><p>Drink</p></a></li>
                <li class="nav-item"><a href="@Url.Action("ExtraList", "Extra")"><i class="fas fa-pizza-slice"></i><p>Extra</p></a></li>
                <li class="nav-item"><a href="@Url.Action("GarnitureList", "Garniture")"><i class="fas fa-leaf"></i><p>Garniture</p></a></li>
                <li class="nav-item"><a href="@Url.Action("Login", "Account")"><i class="fas fa-sign-out-alt"></i><p>Logout</p></a></li>
            </ul>
        </div>
    </div>
</div>
