@model MenuViewModel
@{
    var hamburgers = ViewBag.AllHamburgers as List<Burgerci_Proje.Models.HamburgerViewModel> ?? new List<Burgerci_Proje.Models.HamburgerViewModel>();
    var drinks = ViewBag.AllDrinks as List<Burgerci_Proje.Models.DrinkViewModel> ?? new List<Burgerci_Proje.Models.DrinkViewModel>();
    var extras = ViewBag.AllExtras as List<Burgerci_Proje.Models.ExtraViewModel> ?? new List<Burgerci_Proje.Models.ExtraViewModel>();
    ViewData["Title"] = "CreateMenu";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Menus</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("MenuList")">Menus</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Create Menu Panel</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add Menu Operation</div>
                    </div>
                    <div class="card-body">
                        <form asp-action="CreateMenu" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input asp-for="Price" class="form-control" />
                            </div>
                            <div data-mdb-input-init class="form-group form-outline mb-4">
                                <label asp-for="Photo" class="form-label">ADD PHOTO</label>
                                <input asp-for="Photo" class="form-control form-control-lg" type="file" />
                            </div>

                            <div class="form-group">
                                <label>Hamburgers</label>
                                <div>
                                    @foreach (var hamburger in hamburgers)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="hamburger_@hamburger.Id" name="HamburgerIds" value="@hamburger.Id" />
                                            <label class="form-check-label" for="hamburger_@hamburger.Id">
                                                @hamburger.Name
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Drinks</label>
                                <div>
                                    @foreach (var drink in drinks)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="drink_@drink.Id" name="DrinkIds" value="@drink.Id" />
                                            <label class="form-check-label" for="drink_@drink.Id">
                                                @drink.Name
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Extras</label>
                                <div>
                                    @foreach (var extra in extras)
                                    {
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="extra_@extra.Id" name="ExtraIds" value="@extra.Id" />
                                            <label class="form-check-label" for="extra_@extra.Id">
                                                @extra.Name
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <div class="modal fade" id="garnitureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
