
@model List<MenuViewModel>
@{
    var garnitures = ViewBag.Garnitures as List<Burgerci_Proje.Models.GarnitureViewModel> ?? new List<Burgerci_Proje.Models.GarnitureViewModel>();
    if (ViewBag.IsAdmin == "True")
    {
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
    @if (ViewBag.IsAdmin == "True")
    {
        <a href="/Hamburger/CreateHamburger" class="btn btn-primary mt-4">Add New Hamburger</a>
    }
    else
    {
        <br />
        <br />
        <div class="bgimg-container">
            <div class="bgimg">
                <img src="@Url.Content("~/Images/hamburgerlist.jpg")" alt="Hamburgers" class="bgimg-image" />
                <div class="text-overlay">
                    <span class="text">HAMBURGERS</span>
                </div>
            </div>
        </div>

    }
    @foreach (var item in Model)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>


                        <form asp-action="AddToBasket" method="POST" style="display:inline">

                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="hidden" name="Name" value="@item.Name" />
                            <input type="hidden" name="HamburgerId" value="@item.HamburgerId" />
                            <input type="hidden" name="DrinkId" value="@item.DrinkId" />
                            <input type="hidden" name="Quantity" value="@item.Quantity" />
                            <input type="hidden" name="Price" value="@item.Price" />
                            <input type="hidden" name="HamburgerViewModel" value="@item.HamburgerViewModel" />

                            <button type="submit" class="btn btn-outline-primary btn-sm me-2">

                                <i class="bi bi-hand-thumbs-up"></i> Sepete Ekle

                            </button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    }


</div>

