@model List<MenuViewModel>


@{

    ViewBag.Title = "Menu List";
    if (ViewBag.IsAdmin == "True")
    {
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

}


<div class="container">


    @if (ViewBag.IsAdmin == "True")
    {
        <a href="/Menu/CreateMenu" class="btn btn-primary mt-4">Add New Menu</a>

    }
    else
    {
        <br />
        <br />
        <div class="bgimg-container">
            <div class="bgimg">
                <img src="@Url.Content("~/Images/menulist.jpg")" alt="Menus" class="bgimg-image" />
                <div class="text-overlay">
                    <span class="text">MENUS</span>
                </div>
            </div>
        </div>

    }
    <div class="row">
@*         @foreach (var menu in Model)
        { *@
@*             <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Images/@menu.Photo" class="img-fluid rounded-start" alt="@menu.Name" style="width:200px;height:150px; object-fit: cover;" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">@menu.Name</h5>
                    <p class="card-text">@menu.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div> *@
            <div class="page-inner">
                <div class="page-header">
                    @if (ViewBag.IsAdmin == "True")
                    {
                        <h3 class="fw-bold mb-3">Menu Admin Panel</h3>

                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("MenuList")">Menus</a>
                            </li>
                        </ul>
                    }

                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                            <img src="~/Images/@item.Photo" class="img-fluid rounded-start" alt="@item.Name" style="width:200px;height:150px; object-fit: cover;" />
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">Contains: </p>
                                    <p class="card-text">Hamburger: @item.HamburgerViewModel.Name</p>
                                    <p class="card-text">Drink: @item.DrinkViewModel.Name</p>
                                    @if (@item.ExtraViewModel != null)
                                    {
                                        <p class="card-text">Extra: @item.ExtraViewModel.Name</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">Extra: </p>
                                    }
                                    <p class="card-text">@item.Price.ToString("C")</p>

                                    <div class="btn-group">
                                        @if (ViewBag.IsAdmin == "True")
                                        {
                                            <a href="@Url.Action("EditMenu", "Menu", new { id = item.Id })" class="btn btn-primary btn-sm">Edit</a>
                                            <a href="@Url.Action("DeleteMenu", "Menu", new { id = item.Id })" class="btn btn-danger btn-sm">Delete</a>
                                            <a href="@Url.Action("Details", "Menu", new { id = item.Id })" class="btn btn-info btn-sm">Details</a>
                                        }
                                        else
                                        {


                                            <button type="button" class="btn btn-outline-primary btn-sm me-2"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#addToCartModal"
                                                    data-id="@item.Id"
                                                    data-hamburgerId="@item.HamburgerId"
                                                    data-drinkId="@item.DrinkId"
                                                    data-name="@item.Name"
                                                    data-price="@item.Price">
                                                <i class="bi bi-hand-thumbs-up"></i> Add To Cart
                                            </button>

                                            <select class="form-select me-2 quantity-selector">
                                                @for (int i = 1; i <= 10; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>

                                            <select class="form-select me-2 size-selector">
                                                <option value="Small">Small</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Large">Large</option>

                                            </select>
                                        }
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (ViewBag.IsAdmin == "True")
                {
                    <a href="/Menu/CreateMenu" class="btn btn-primary mt-4">Add New Menu</a>
                }
            </div>
        @* } *@
    </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">Confirm Add to Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to add this item to your cart?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                <form asp-action="AddToBasketMenu" method="POST" style="display:inline">
                    <input type="hidden" name="Id" id="modalItemId" />
                    <input type="hidden" name="HamburgerId" id="modalItemHamburgerId" />
                    <input type="hidden" name="DrinkId" id="modalItemDrinkId" />
                    <input type="hidden" name="Name" id="modalItemName" />
                    <input type="hidden" name="Price" id="modalItemPrice" />
                    <input type="hidden" name="Quantity" id="modalItemQuantity" />
                    <input type="hidden" name="Size" id="modalItemSize" />

                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    .card-img-top {
        object-fit: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .garniture-name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }

    body, html {
        height: 100%;
    }

    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Amatic SC", sans-serif;
    }

    .menu {
        display: none;
    }

    .bgimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('@Url.Content("~/Images/homepage.jpg")');
        min-height: 90%;
    }

    /* Added margin-top to row */
    .row.mt-2 {
        margin-top: 10px; /* Adjust this value as needed to control the spacing */
    }

    .bgimg {
        margin-bottom: 0px; /* Remove extra space below the image */
    }

    .bgimg-container {
        width: 100%;
        height: 100px; /* Adjust height as needed */
        position: relative;
        margin-bottom: 0; /* Remove extra space below */
    }

    .bgimg {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .bgimg-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the container */
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

    .text {
        color: white;
        font-size: 40px; /* Adjust font size as needed */
    }

</style>





<script>
    document.addEventListener('DOMContentLoaded', function () {
        var addToCartButtons = document.querySelectorAll('[data-bs-toggle="modal"]');

        addToCartButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var itemId = this.getAttribute('data-id');
                var itemHamburgerId = this.getAttribute('data-hamburgerId');
                var itemDrinkId = this.getAttribute('data-drinkId');
                var itemName = this.getAttribute('data-name');
                var itemPrice = this.getAttribute('data-price');
                var quantitySelector = this.closest('.card-body').querySelector('.quantity-selector');
                var quantity = quantitySelector ? quantitySelector.value : 1; // Default to 1 if not found
                var sizeSelector = this.closest('.card-body').querySelector('.size-selector');
                var size = sizeSelector ? sizeSelector.value : "Small";

                document.getElementById('modalItemId').value = itemId;
                document.getElementById('modalItemHamburgerId').value = itemHamburgerId;
                document.getElementById('modalItemDrinkId').value = itemDrinkId;
                document.getElementById('modalItemName').value = itemName;
                document.getElementById('modalItemPrice').value = itemPrice;
                document.getElementById('modalItemQuantity').value = quantity;
                document.getElementById('modalItemSize').value = size;
            });
        });
    });

</script>


