
@model List<MenuViewModel>


@{
    ViewBag.Title = "Menu List";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Menu List</h2>

<div class="container">

    @if (ViewBag.IsAdmin == "True")
    {
    <a href="/Menu/CreateMenu" class="btn btn-primary mt-4">Add New Menu</a>

  <br />
    }
    <div class="row">
        @foreach (var menu in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@menu.Photo" alt="Menu Photo" class="card-img-top" style="height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@menu.Name</h5>
                        <p class="card-text">@menu.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @if (ViewBag.IsAdmin == "True")
                                {
                                    <a href="@Url.Action("EditMenu", "Menu", new { id = menu.Id })" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="@Url.Action("DeleteMenu", "Menu", new { id = menu.Id })" class="btn btn-danger btn-sm">Delete</a>
                                    <a href="@Url.Action("Details", "Menu", new { id = menu.Id })" class="btn btn-info btn-sm">Details</a>
                                }
                                else
                                {
                                    <form asp-action="AddToBasket" method="POST" style="display:inline">

                                        <input type="hidden" name="Id" value="@menu.Id" />
                                        <input type="hidden" name="Name" value="@menu.Name" />
                                        <input type="hidden" name="HamburgerId" value="@menu.HamburgerId" />
                                        <input type="hidden" name="DrinkId" value="@menu.DrinkId" />
                                        <input type="hidden" name="Quantity" value="@menu.Quantity" />
                                        <input type="hidden" name="Price" value="@menu.Price" />
                                        <input type="hidden" name="HamburgerViewModel" value="@menu.HamburgerViewModel" />

                                        <button type="submit" class="btn btn-outline-primary btn-sm me-2">

                                            <i class="bi bi-hand-thumbs-up"></i> Add To Cart

                                        </button>

                                    </form>
                                }
                            </div>
                            <small class="text-muted">@menu.Price $</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

